In [14]:
import pandas as pd

In [15]:
# DEFINE EMPTY DATA FRAMES 

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
# CREATE A DATA FRAME FROM A LIST 

data = [['Alex',10], ['Bod', 20], ['carlos',20]]
# LIST IS DEFINED BY THE BRACKETS 
# [['NAME, 10(first row)], [(second row)]]
df = pd.DataFrame(data, columns=['Name', 'Age'])

print(df)

     Name  Age
0    Alex   10
1     Bod   20
2  carlos   20

In [17]:
# CREATE A DATAFRAM FROM A DICT OF NDARRAYS 

data = {'Name':['Alex','Bod','Carlos'], 'Age':[10,12,20]}
df = pd.DataFrame(data)
print(df)

     Name  Age
0    Alex   10
1     Bod   12
2  Carlos   20

In [18]:
# CREAT A DATA FRAME FROM LIST OF DIC 

data = [{'cheese':1, 'burgers':2},{'cheese':5, 'burgers':10, 'cookie':7}]
df = pd.DataFrame(data, index=['first', 'secound'])
print(df)

         cheese  burgers  cookie
first         1        2     NaN
secound       5       10     7.0

<h1 style="text-align: center;"> Working with CSV File </h1>

In [19]:
data = pd.read_csv('cardio_train.csv', delimiter=';')
# DELIMITER WHAT SEPERATES THE DATA (;)

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [25]:
# COUNTING THE NUMBER OF COLUMNS AND ROWS 

print("Number of rows and columns:({}, {})".format(data.shape[0],data.shape[1]))

#shape will return a 1d array with the rows and columns

data.head(0)

#PRINT DATA
#SHOWS DATA.HEAD 10 ROWS OF DATA

Number of rows and columns:(70000, 13)

Empty DataFrame
Columns: [id, age, gender, height, weight, ap_hi, ap_lo, cholesterol, gluc, smoke, alco, active, cardio]
Index: []

In [30]:
# PRINITNG THE LABELS OF YOUR COLUMNS 

print(data.columns)
print(data.keys())

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')
Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [31]:
# PRINITING SPECIFIC ROW USING ILOC FUNCTION 

data.iloc[[12]]

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
12,18,14791,2,165,60.0,120,80,1,1,0,0,0,0

In [33]:
#PRINITING INFORMATION FOR A SPECIFIC POSITION 

print("Information of row {0:d}, and column {1:s}: {2:d}".format(60, 'height', data.loc[60,'height']))

# PRINITNG THE FIRST 4 COLUMNS FROM THE SECOND ROW 

data.iloc[[1], 0:4]

# PRINTING THE FIRST 4 FROM THE SECOND ROW 
data.loc[[4], ["age", "height", "cholesterol"]]

Information of row 60, and column height: 159

     age  height  cholesterol
4  17474     156            1

In [34]:
# PRINT DATAFRAME INFORMATION 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [36]:
# TELLS YOU HOW MANY TYPES OF A SPECIFIC DATA THERE ARE 
data.nunique()

id             70000
age             8076
gender             2
height           109
weight           287
ap_hi            153
ap_lo            157
cholesterol        3
gluc               3
smoke              2
alco               2
active             2
cardio             2
dtype: int64

In [38]:
columns_list = ['gender', 'weight', 'height', 'smoke']
row = list(range(300))
new_data = pd.DataFrame(data, index=row, columns=columns_list)
new_data.head()

   gender  weight  height  smoke
0       2    62.0     168      0
1       1    85.0     156      0
2       1    64.0     165      0
3       2    82.0     169      0
4       1    56.0     156      0

# Doing Quesries with Data Frame

In [56]:
n_row = range(data.shape[0])
columns_list = ["gender", "smoke"]
gender_1 = pd.DataFrame(data, index=n_row, columns=columns_list).query("gender==1").count()

print(gender_1)
gender_2 = pd.DataFrame(data, index=n_row, columns=columns_list).query ("gender==2").count()
gender1_1 = pd.DataFrame(data, index=n_row, columns=columns_list).query  ("gender==1 and smoke ==1").count()
gender_2_1 = pd.DataFrame(data, index=n_row, columns=columns_list).query  ("gender==2 and smoke ==1").count()

print("Total number of samples gender 1 and smoke=1: ",gender1_1)
print("Total number of samples gender 2 and smoke=1: ",gender_2_1)

gender    45530
smoke     45530
dtype: int64
Total number of samples gender 1 and smoke=1:  gender    813
smoke     813
dtype: int64
Total number of samples gender 2 and smoke=1:  gender    5356
smoke     5356
dtype: int64